body {
    margin: 0px;
}

/* Shared styles start*/
:root {
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    ;
}

/* Work sans google fonts  start*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

* h3 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin: 100px 0px 0px 0px;
    text-transform: uppercase;
}

* p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); */

/* Work sans google fonts end */

/* Shared styles end*/


/* Nav styles start  */
/* .header{
   
} */
.nav {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo img {
    width: 86px;
    height: 40px;
    margin-right: 1rem;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 2.81rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.logo .gee {
    color: var(--primary-color);
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu>ul :last-child {
    margin: 0px;
}

.menu>ul li {
    list-style: none;
    margin-right: 1rem;
}

.menu>ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu .fontawesome {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.5rem 0.8rem;
}

.menu .fontawesome a {
    text-decoration: none;
}

.menu .fontawesome i {
    margin-left: 1rem;
}

.menu .fontawesome #youtube {
    color: #F61C0D;
}

.menu .fontawesome #tiktok {
    color: #000000;

}


/* Nav styles end  */

/* Banner section start */
.banner {
    display: flex;
    justify-content: space-between;
    /* fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); */


}

.banner-content {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-left: 180px;
    margin-right: 2rem;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

/* .banner-content h3 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin: 100px 0px 0px 0px;
    text-transform: uppercase;
} */

.banner-content h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content .play,
.no-download,
.support_game {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

/* 
.banner-content .play p,
.no-download p,
.support_game p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 0px;
    margin-top: 0px;
} */

.banner-content .play i {
    color: #FF42A5;
    border: 2px solid #0B0223;
    padding: 5px 5px 5px 9px;
    border-radius: 50%;
    margin-right: 10px;


}

.banner-content .no-download i {
    color: #FF42A5;
    margin-right: 20px;
    margin-left: 7px;


}

.banner-content .support_game i {
    margin-right: 14px;
    margin-left: 7px;
}

.banner-content .button {
    display: flex;
    margin-top: 1.8rem;
}

.banner-content .button .sign-in {
    padding: 13px 40px;
    background-color: #FF42A5;
    border-radius: 3rem;
    margin-right: 1rem;
}

.banner-content .button .go-rogue {
    padding: 13px 36px;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-content .button .sign-in a,
.go-rogue a {
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-image {
    padding-right: 180px;
}

.banner-image img {
    width: 100%;
}

/* card-section start */
.card-section{
    padding: 0 10rem 6rem 10rem;
}
.card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-content p{
    margin-top: 1rem;
}

.card-section .card{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.rectangle-card img{
    width: 100%;
}

.rectangle-card img:hover {
    filter: opacity(0.9) drop-shadow(0 0 #000);
}

/* card-section end */
/* Banner section end */
/* -------------------------------------------------- */


/* Media Query styles start  */
@media screen and (max-width:576px) {
    .nav {
        display: flex;
        flex-direction: column;
        height: 65vh;
        padding: 0px;
        justify-content: flex-start;


    }

    .logo p {
        margin-bottom: 30px;
    }


    .menu>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .menu>ul li {
        margin-bottom: 0.5rem;
        margin-right: 0px;
    }

    .banner {
        flex-direction: column;
        padding-left: 6rem;
        padding-right: 2.5rem;
        order: 2;
    }

    .banner-content {
        order: 2;
        width: 100%;
        height: 90vh;
        padding: 0px;
        margin: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }

    .banner-content h3 {
        color: #0B0223;
        font-size: 1rem;
        margin-top: 70px;
        margin-left: 5rem;
    }

    .banner-content h1 {
        font-size: 2.5rem;
        margin: 0;
        margin-left: 4.9rem;
        margin-bottom: 20px;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-content .play i {
        margin-left: 5rem;
    }

    .banner-content .no-download i {
        margin-left: 5rem;
    }

    .banner-content .support_game i {
        margin-left: 5rem;
    }

    .banner-content .play p,
    .no-download p,
    .support_game p {
        color: #534C64;
        font-size: 0.9rem;

    }

    .banner-content .button .sign-in {
        padding: 13px 40px;
        margin-left: 5rem;
    }

    .banner-content .button .go-rogue {
        padding: 13px 36px;

        border-radius: 3rem;
    }

    .banner-image {
        order: 1;
        width: 100%;
        padding-right: 0px;
    }




}

/* Media Query styles end  */