body {
    margin: 0px;
}

/* Shared styles start*/
:root {
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    ;
}

/* Work sans google fonts  start*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); */

/* Work sans google fonts end */

/* Shared styles end*/


/* Nav styles start  */
.nav {
    height: 12vh;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 230px;
}

.logo img {
    width: 86px;
    height: 40px;
    margin-right: 1rem;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 2.81rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.logo .gee {
    color: var(--primary-color);
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu>ul :last-child {
    margin: 0px;
}

.menu>ul li {
    list-style: none;
    margin-right: 1rem;
}

.menu>ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu .fontawesome {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.5rem 0.8rem;
}

.menu .fontawesome i {
    margin-left: 1rem;
}

.menu .fontawesome #youtube {
    color: #F61C0D;
}

.menu .fontawesome #tiktok {
    color: #000000;

}


/* Nav styles end  */


/* -------------------------------------------------- */


/* Media Query Nav styles start  */
@media screen and (max-width:576px) {
    .nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0px;

    }

    .menu>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .menu>ul li {
        margin-bottom: 0.5rem;
        margin-right: 0px;
    }



}

/* Media Query Nav styles end  */